/*Form Join Us*/

.form_join {
    font-size: $font-small;
    line-height: 3.5rem;
    color: $color-blanco; 
    
    div {
        padding-top: $box-space-small;

        & input{
            font-size: $font-small;
        }
    }  

    button {
        font-size: $font-small; 
        margin-top: $box-space-medium;
        font-weight: $font-semibold;
        text-transform: uppercase;
        
        &:hover{
            background: $color-primario;
            color: $color-secundario;
            border-color: $color-secundario;
            font-weight: $font-semibold;
        }
    }

}

.form_contacto {
    @extend .form_join;
}